body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:wheat;
}

h1{
    text-align: center;
    
}

.menu{
    border:2px solid black;
    font-size:20px;
    margin:auto;
    padding-left:40%;
}


